<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>

<%= render 'navbar', account: @account %>
<p id="notice"><%= notice %></p>
<body>
<div class="container-fluid">
<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Act ID</th>
      <th>Act Name</th>
      <th>Act Num</th>
      <th>Act Type</th>
      <th>Balance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.act_name %></td>
        <td><%= account.act_num %></td>
        <td><%= account.act_type %></td>
        <td><%= account.balance %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
</div>
</body>