<%= render 'navbar', account: @account %>
<body>
<div class="container-fluid">
<p id="notice"><%= notice %></p>

<p>
  <strong>Act name:</strong>
  <%= @account.act_name %>
</p>

<p>
  <strong>Act num:</strong>
  <%= @account.act_num %>
</p>

<p>
  <strong>Act type:</strong>
  <%= @account.act_type %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
</div>
</body>